@model Web.ViewModels.FilmListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <h2>List of Films</h2>
    </div>
    <div>
        @using (Html.BeginForm("Search", "Films", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(s => s.Search, new { @class = "form-control", placeholder = "Search" })
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
            </div>
        }
    </div>
    @foreach (var film in Model.ListOfFilms)
    {
        <div class="row">
            <div>
                <div class="col-md-8">
                    <div class="col-md-4 film-posters">
                        <a href="@Url.Action("Details", "Films", new {id = film.Id})">
                            <img src="../Content/img/NotFound.png"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Details", "Films", new {id = film.Id})">@film.Title</a>
                        <span>(@film.Release)</span>

                        @if (film.Score <= 0)
                        {
                            <div>
                                <div>
                                    Score : ---
                                </div>                                
                                <div> Ratings: Not implemented</div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div>
                                    Score: @film.Score
                                </div>
                                <div> Ratings: Not implemented</div>
                            </div> 
                        }
                        
                        <div>
                            <span>
                                Genre:
                            </span>
                            @foreach (var genre in film.Genres)
                            {
                                <span>
                                    @genre.Name,
                                </span>
                            }
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div>
                            Wants to watch: Not implemented
                        </div>
                        <div>
                            Production: @film.Production
                        </div>
                        <div>
                            Cast: Not implemented
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


