@model Web.ViewModels.FilmListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <h2>List of Films</h2>
    </div>
    <div>
        @using (Html.BeginForm("Search", "Films", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(s => s.FilmListParameters.QuerySearch, new { @class = "form-control", placeholder = "Search" })
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
            </div>
        }
    </div>    
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="btn-filters">
                    <li>
                        <button class="btn btn-group" id="toggle-genre-filter">Genres</button>
                    </li>
                    <li>
                        <button class="btn btn-group" id="toggle-country-filter">Country</button>
                    </li>
                    <li>
                        <button class="btn btn-group" id="toggle-release-date-filter">Release Date</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-list-wrapper">
            @using (Html.BeginForm("", "", FormMethod.Post))
            {
                <div class="genre-filter toggle-filter-films">

                    @for (var i = 0; i < Model.Genres.Count(); i++)
                    {
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(x => x.Genres[i].IsChecked)
                            @Model.Genres[i].Name
                            @Html.HiddenFor(x => x.Genres[i].Name)
                            @Html.HiddenFor(x => x.Genres[i].Id)
                        </label>
                    }
                </div>
                <div class="country-filter toggle-filter-films">

                    @for (var i = 0; i < Model.CountryList.Count(); i++)
                    {
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(x => x.CountryList[i].IsChecked)
                            @Model.CountryList[i].Name
                            @Html.HiddenFor(x => x.CountryList[i].Name)
                            @*@Html.HiddenFor(x => x.CountryList[i].Id)*@
                        </label>
                    }
                </div>
                <div class="release-date-filter toggle-filter-films">
                    NOT IMPLEMENTED
                </div>
                <span class="">
                    <button type="submit" class="btn">Search</button>
                </span>
            }
        </div>      
    </nav>

    @foreach (var film in Model.ListOfFilms)
    {
        <div class="row">
            <div>
                <div class="col-md-8">
                    <div class="col-md-4 film-posters">
                        <a href="@Url.Action("Details", "Films", new {id = film.Id})">
                            <img class="img-responsive" src="../Content/img/FILM_POSTER_1.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Details", "Films", new {id = film.Id})">@film.Title</a>
                        <span>(@film.Release.Year)</span>

                        @if (film.Score <= 0)
                        {
                            <div>
                                <div>
                                    Score : ---
                                </div>                                
                                <div> Ratings: @film.RatingsNumber</div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div>
                                    Score: @film.Score
                                </div>
                                <div> Ratings: @film.RatingsNumber</div>
                            </div> 
                        }
                        
                        <div>
                            <span>
                                Genre:
                            </span>
                            @foreach (var genre in film.Genres)
                            {
                                <span>
                                    @genre.Name,
                                </span>
                            }
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div>
                            Wants to watch: Not implemented
                        </div>
                        <div>
                            Production: @film.Production
                        </div>
                        <div>
                            Cast: Not implemented
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a href="@Url.Action("List", "Films", new {PageNumber = Model.FilmListParameters.CurrentPage - 1})" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 1; i <= Model.FilmListParameters.MaxPageNumber; i++)
            {
                <li><a href="@Url.Action("List", "Films", new {PageNumber = i})">@i</a></li>
            }
            <li>
                <a href="@Url.Action("List", "Films", new {PageNumber = Model.FilmListParameters.CurrentPage + 1})" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $('#toggle-genre-filter').click(function() {
                var allItems = $(".filter-list-wrapper").find('div');

                $.each(allItems, function( i, item ) {

                    if ($(item).hasClass('genre-filter')) {
                        $(item).show(250);
                    }
                    else {
                        $(item).hide(250);
                    }
                });

            });

            $('#toggle-country-filter').click(function () {
                var allItems = $(".filter-list-wrapper").find('div');

                $.each(allItems, function (i, item) {

                    if ($(item).hasClass('country-filter')) {
                        $(item).show(250);                    
                    } else {
                        $(item).hide(250);
                    }
                });

            });

            $('#toggle-release-date-filter').click(function () {
                var allItems = $(".filter-list-wrapper").find('div');

                $.each(allItems, function (i, item) {

                    if ($(item).hasClass('release-date-filter')) {
                        $(item).show(250);
                    } else {
                        $(item).hide(250);
                    }
                });

            });

        });
    </script>
}
