@using WebGrease.Css.Extensions
@model Web.ViewModels.UserListViewModel
@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Search for a friend</h2>

@using (Html.BeginForm("Search", "Users", FormMethod.Post, new {@class = "form-inline"}))
{
    <div class="form-group">
        <div class="input-group">
            @Html.TextBoxFor(s => s.Query, new {@class = "form-control", placeholder = "Search"})
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
    </div>
}
@if (Model.IsSearched)
{
    <table class="table">

        <tr>
            <th>
                Name
            </th>
            <th>

            </th>
        </tr>

        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Users", new {id = user.Id})">
                        @user.FirstName @user.LastName
                    </a>
                </td>
                <td>

                    @if (user.Id == Model.User.Id)
                    {
                        <span>You can't sand friend request to yourself!</span>
                    }
                    else
                    {
                        if (Model.User.Friends.Any())
                        {
                            foreach (var friend in Model.User.Friends)
                            {
                                if (friend.Id == user.Id)
                                {
                                    <span>@user.FirstName @user.LastName is already your friend!</span>
                                }
                            }
                        }
                        else
                        {
                            <a href="#" class="js-user-send-friend-request" data-user-id="@user.Id">
                                Send friend request
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-user-send-friend-request").click(function(e) {
                var button = $(e.target);
                if (confirm("Do you want to send this friend request?")) {
                    $.ajax({
                            url: "/api/users/" + button.attr("data-user-id"),
                            method: "POST"
                        })
                        .done(function() {
                            alert("Your request has been sent!");
                        })
                        .fail(function() {
                            alert("Something went wrong!");
                        });
                }
            });
        })
    </script>
}
