@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="@Url.Action("List", "Notifications")", class="glyphicon glyphicon-list js-notifications-count"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName() !<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Profile Settings", "Index", "Manage", null, new {title = "Manage"})
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        @Html.ActionLink("Find your friends on filmweb", "List", "Users")
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">Placeholder</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.ActionLink("Admin Panel", "Panel", "Admin")
                        </li>
                    }

                </ul>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}