
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose Person</h2>

<ul>
    <li>@Html.ActionLink("Create a Composer", "Create", "Composers")</li>
    <li>@Html.ActionLink("Create a Director", "Create", "Directors")</li>
    <li>@Html.ActionLink("Create a Cinematographer", "Create", "Cinematographers")</li>
    <li>@Html.ActionLink("Create a Scriptwriter", "Create", "Scriptwriters")</li>
    <li>@Html.ActionLink("Create a Star", "Create", "Stars")</li>
</ul>