@model Web.ViewModels.NewsDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<div>
    <div>@Model.Author</div>
    <div>
        @foreach (var tag in Model.Tags)
        {
        <span>@tag</span>
        }
    </div>   
</div>
<div>@Model.DateOfPublication</div>
<div>@Model.Content</div>