@model FilmWebProject.Core.ViewModels.CreateStaffFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a Maker or an Actor</h2>


@using (Html.BeginForm("Create", "Staff"))
{
    <div class="form-group">
        @Html.LabelFor(f => f.FirstName)
        @Html.TextBoxFor(f => f.FirstName, new { @class = "form-control", @placeholder = "Enter first name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.LastName)
        @Html.TextBoxFor(f => f.LastName, new { @class = "form-control", @placeholder = "Enter first name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.DateOfBirth)
        @Html.TextBoxFor(f => f.DateOfBirth, new { @class = "form-control", @placeholder = "Enter first name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.PlaceOfBirth)
        @Html.TextBoxFor(f => f.PlaceOfBirth, new { @class = "form-control", @placeholder = "Enter first name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Height)
        @Html.TextBoxFor(f => f.Height, new { @class = "form-control", @placeholder = "Enter first name" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
